<h1>Add Account......</h1>
<form #empForm=ngForm >
<table class="table table-striped table table-hover">
    <tr>
        <td>Account Id</td>
        <td><input type="number" name="id" id="id" [(ngModel)]="id" #idcontrol="ngModel" required/></td>
        <span *ngIf="idcontrol.touched && idcontrol.invalid">ID should be filled</span>
    </tr>
    <tr>
        <td>Mobile No</td>
        <td><input type="number" id="mobile" name="mobile" [(ngModel)]="phone" #salarycontrol="ngModel" required/></td>
        <span *ngIf="salarycontrol.touched && salarycontrol.invalid"> Mobile should be filled</span>
    </tr>
    <tr>
            <td>Account Holder Name</td><td>
                <input type="text" name="name" id="ename" [(ngModel)]="accountHolder"#namecontrol="ngModel" required/></td>
                <span *ngIf="namecontrol.touched && namecontrol.invalid">Name should be filled</span>
        </tr>
    <tr>
        <td>Account Initial Balance</td>
        <td><input type="number" id="balance" name="balance" [(ngModel)]="balance" #deptcontrol="ngModel" required/></td>
        <span *ngIf="deptcontrol.touched && deptcontrol.invalid">Initial balance should be filled</span>
    </tr>
    <tr>
        <input type="submit" value="ADD" (click)="save();change()" [disabled]="empForm.invalid"/>
    </tr>
</table>
</form>
<table class="table table-striped table table-hover">
        <tr *ngIf="ch">Added</tr>
</table>
