<h1>Account </h1>


<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="add">Add</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="show">Show</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="find">Find</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="update">Update</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="delete">Delete</a>
    </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Operation</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="withdraw">Withdraw</a>
            <a class="dropdown-item" href="deposit">Deposit</a>
            <a class="dropdown-item" href="transfer">Transfer</a>
          </div>
          </li>
  </ul>

<router-outlet></router-outlet>